body{
    background-image:  url(../img/neonbrand-y_6rqStQBYQ-unsplash.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 0.3cm;
    width: 100%;
    overflow: hidden;
    color: rgb(88, 188, 235);
    background-repeat: no-repeat; 
  }
  h1{
    text-align: center;
  }
  .Sign #signin{
    padding: 0.6em;
    margin-top: 2%;
    border-radius: 0.5rem;
    outline: none;
    border: solid 1px #cac8c8;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .Sign{
    text-align: center; 
    margin-left: 37%;
    margin-top: 2%;
    background-color: rgba(172, 204, 206, 0.8);
    box-shadow: 0.5em 0.5em 0.5em #9c9c9c;
    margin-bottom: 4%;
    max-width:300px;
    border-radius: 0.5em;
    padding:0.5em;
  }
  a {
    text-decoration: none;
    color: black;
  }
  #enter{
      border-radius: 0.5rem;
      background-color: rgb(2, 103, 143);
      padding: 0.5em;
      cursor: pointer;
      outline: none;
  }

  .nav{
    width: 100%;
    height: 60px;
    background: rgba(224, 221, 75, 0.89);
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 1;
  }
  .nav li{
    float: right;
    margin-top: 15px;
    list-style-type: none;
  }
  .nav a{
    width: 100px;
    color: white;
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
  }

 body.home{
   background-image: url(../img/mimi-thian-R_jYS09sBMU-unsplash.jpg);
   background-size: cover;
   background-position: center;
   overflow-y: scroll;
   background-repeat: no-repeat;
   padding: 0; 
 }
 .intro{
   font-size: 40px;
   font-weight: bold;
   color: white;
   text-align: center;
   padding-top: 200px;
 }

 .table{
   border: 2px solid grey;
border-collapse: collapse;
margin: 25px 0;
min-width: 400px;
font-size: 0.9em;
margin-left: 150px;
background: rgba(75, 157, 224, 0.89);
padding-top: 1000px;
box-shadow: 0.5em 0.5em 0.5em #9c9c9c;  
border-radius: 5px 5px 0 0;
 }

 .table thead tr{
   background-color: grey;
   color: white;
   text-align: left;
   font-weight: bold;
 }
 .table th,
 .table td{
   padding: 12px 15px;
 }
 .table tbody tr{
   color: white;
   border-bottom: 1px solid black;
 }
 .table tbody tr:nth-of-type(even){
   background-color: aqua;
 }
 .table tbody tr:last-of-type{
   border-bottom: 1px solid black;
 }

 .look{
border-radius: 10px;
height: 20px;
width: 150px;
outline: none;
padding: 2px;
margin-top: -1px;
 }

#click{
  float: right;
  padding: 1px;
  margin-top: 1px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid whitesmoke;
  cursor: pointer;
  border-radius: 10px;
}

body.users{
  background-color: rgb(222, 235, 214);
  background-image: none;
  height: none;
overflow: hidden;
}
.table-users
{
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: 2px solid grey;
border-collapse: collapse;
margin: 25px 0;
min-width: 400px;
font-size: 0.9em;
margin-left: 80px;
background: rgba(75, 157, 224, 0.89);
padding-top: 1000px;
box-shadow: 7px 5px 7px rgba(75, 157, 224, 0.89);
border-radius: 5px 5px 0 0;
}
.table-users thead tr{
   background-color: grey;
   color: white;
   text-align: left;
   font-weight: bold;
 }
 .table-users th,
 .table-users td{
   padding: 12px 15px;
 }
 .table-users tbody tr{
   color: white;
   border-bottom: 1px solid black;
 }
 .table-users tbody tr:nth-of-type(even){
   background-color: aqua;
 }
 .table-users tbody tr:last-of-type{
   border-bottom: 1px solid black;
 }
  
 .intro-users{
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 40px;
}

body.sessions{
  overflow: hidden;
}

.logo{
  margin-left: 37%;
  margin-top: 2%;
  margin-bottom: 4%;
  max-width:300px;
}

.logo-home{
float: left;
  margin-top: 0%;
  margin-bottom: 4%;
  max-width:300px;
  height: 100%;
}

.logo-mentor{
  float: left;
    margin-top: 0%;
    margin-bottom: 4%;
    max-width:300px;
    height: 100%;
  }

  .logo-users{
    float: left;
      margin-top: 0%;
      margin-bottom: 4%;
      max-width:300px;
      height: 100%;
    }

body.session{
  background-color: #98d688;
  background-image: none;
}

.details{
  width: 60%;
  background-color: rgba(255, 255, 255, 0.76);
  margin-left: 21%;
  margin-top: 5%;
  border: #f1f1f1f6;
  border-radius: 1%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.details td{
  text-align: left;
  font-size: 85%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}


.details #title{
  text-align: center;
}

body.mentor{
  background-image: none;
  font-family: sans-serif;
  color: grey;
  background-color: rgb(222, 235, 214);
  overflow-y: scroll;
  text-align: center;
  font-weight: 95px;
}

.profil{
  width: 400px;
  margin: auto;
}

.description #image {
  width: 20px;
  }

  #enter-change{
    border-radius: 0.5rem;
      background-color: rgb(226, 223, 9);
      padding: 0.5em;
      cursor: pointer;
      outline: none;
  }

body.changed{
  overflow: hidden;
  background-image: none;
  background-color: rgb(222, 235, 214);
}

body.rejected{
  overflow: hidden;
  background-image: none;
  background-color: rgb(222, 235, 214);
}


body.accepted{
  overflow: hidden;
  background-image: none;
  background-color: rgb(222, 235, 214);
}






textarea {
    background-color: aliceblue;
    color: #18252e;
    width: 70%;
    height: 90px;
    border-radius: 4px;
    text-align: center;
    padding: 1.2em;
}

#submit {
  border-radius: 0.5rem;
  background-color: rgb(226, 223, 9);
  padding: 0.5em;
  cursor: pointer;
  outline: none;
}

.form {
    border: 5px double #140c5e;
    background-color: #f1f1f1;
    padding: 10px;
    padding-top: 5%; 
    margin-left: 30%;
    margin-right: 30%;
    font-family: cursive;
    font-size: 20;
    box-shadow: 5px 5px 8px rgb(63, 63, 95);
    
}
